body,
header{
  background-color: black;
  text-align: center;
}

#MainTitle{
  font-family: Verdana;
  font-weight: Normal;
  font-size: 50px;
  color: White;
  text-align: center;
}

.titles{
  font-family: Verdana;
  font-weight: 300;
  font-size: 42;
  color: White;
}

h2{
  font-family: Verdana;
  font-size: 21px;
  color: Gray;
}

.link{
  color: Aquamarine;
  font-size: 16px;
}

footer{
  text-align: right;
  color: Gray;
}
